<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}#! /usr/bin/php{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <pre style="word-wrap:break-word;white-space:pre-wrap;">hello</pre>
    </body>
</html>
